                <form action="" method="post" class="feedback-modal__form">
                    <div class="feedback-modal__form-group">
                        <div class="feedback-modal__form-item">
                            <label for="" class="feedback-modal__form-label">Введите фамилию</label>
                            <input type="text" name="first_name" class="feedback-modal__form-input" placeholder="Иванов">
                        </div>
                        <div class="feedback-modal__form-item">
                            <label for="" class="feedback-modal__form-label">Введите имя</label>
                            <input type="text" name="last_name" class="feedback-modal__form-input" placeholder="Дмитрий">
                        </div>
                    </div>
                    <div class="feedback-modal__form-item">
                        <label for="" class="feedback-modal__form-label">Введите текст обращения</label>
                        <textarea class="feedback-modal__form-input" name="feedback_message" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="feedback-modal__form-item">
                        <button type="submit" class="feedback-modal__form-button button button--primary">Отправить</button>
                    </div>
                </form>