<footer class="footer">
            <div class="footer__container container">
                <div class="footer__inner">
                    <div class="footer__top footer__top--grid">
                        <div class="footer__left footer__left--col-3">
                            <a href="{{ 'home'|page }}" class="footer__logo logo-brand">
                                <span class="logo-brand__title">{{ this.theme.site_name }}</span>
                            </a>
                        </div>
                        <div class="footer__center footer__center--col-3">
                            <ul class="footer__navigation">
                                <li class="footer__navigation-item">
                                    <a href="{{ 'about'|page }}" class="footer__navigation-link">О школе</a>
                                </li>
                                <li class="footer__navigation-item">
                                    <a href="{{ 'documents'|page }}" class="footer__navigation-link">Документы</a>
                                </li>
                                <li class="footer__navigation-item">
                                    <a href="{{ 'teacher'|page }}" class="footer__navigation-link">Педагогический состав</a>
                                </li>
                                <li class="footer__navigation-item">
                                    <a href="{{ 'life'|page }}" class="footer__navigation-link">Школьная жизнь</a>
                                </li>
                                <li class="footer__navigation-item">
                                    <a href="{{ 'contact'|page }}" class="footer__navigation-link">Контакты</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer__right footer__right--col-3">
                            <ul class="footer__contact">
                                <li class="footer__contact-item">
                                    <a href="mailto:school85@volgadmin.ru" class="footer__contact-link footer__contact-link--mail">school85@volgadmin.ru</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="tel:+78442786426" class="footer__contact-link footer__contact-link--phone">8 (8442) 78-64-26</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a target="_blank" href="https://vk.com/public215707225?ysclid=lhkzs00hz4725287127" class="footer__contact-link footer__contact-link--social">мы Вконтакте</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__bottom footer__bottom--flex">
                        <p class="footer__copyright"> © Все права защищены </p>
                        <p class="footer__development">Разработано <span class="footer__development-span">Третьяковым Алексеем</span></p>
                    </div>
                </div>
            </div>
        </footer>