<aside class="main-content__sidebar sidebar">
			<div class="sidebar__wrapper">
				<nav class="sidebar__navigation">
					<ul class="sidebar__navigation-list">
						<li class="sidebar__navigation-item">
							<a href="{{ 'life'|page }}" class="sidebar__navigation-link">Новости школы</a>
						</li>
						<li class="sidebar__navigation-item">
							<a href="{{ 'students'|page }}" class="sidebar__navigation-link">Наша гордость</a>
						</li>
						<li class="sidebar__navigation-item">
							<a href="{{ 'project'|page }}" class="sidebar__navigation-link">Основные приоритеты</a>
						</li>
						<li class="sidebar__navigation-item">
							<a href="{{ 'gallery'|page }}" class="sidebar__navigation-link">Фотоальбом</a>
						</li>
					</ul>
				</nav>
			</div>
		</aside>